table{
    border-collapse: collapse;
    text-align: left;
    border: solid 1px black;

}
th{
    border: solid 1px black;
    padding-right: 120px;
    background-color: seashell;
    padding: 10px;
}
td{
    padding: 10px;
    border: solid 1px black;
    padding-right: 120px;

}
div{
    padding-top: 10%;
    font-size: larger;
    font-family: sans-serif;
}

